@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lobster&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
@apply bg-[#05030e] text-cyan-50 w-screen h-screen flex justify-center items-center flex-col overflow-auto

}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  font-weight: 700;
}

.App {
  @apply h-full w-full justify-center flex flex-col items-center
}

.section {
  @apply w-full h-full flex items-center flex-col justify-center text-left
}

.button {
  @apply h-[50px] w-[80px] p-[30] pl-5 pr-5 mt-1 mb-1 rounded-lg cursor-pointer transition-all text-base w-fit self-center bg-[#d000ff] mt-5 mb-5 duration-500 hover:scale-y-110 hover:bg-[blue] cursor-pointer
}
.App-body{
  @apply h-screen w-screen 
}

.header {
  @apply w-full h-16 flex items-center justify-around p-5 drop-shadow-2xl bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 fixed
}

input {
  @apply w-fit h-[2.5rem] shadow-xl rounded-full bg-transparent outline-none border-[#fff] text-[#fff] border-2 p-4
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}

.set-params {
  @apply flex flex-col w-full items-center mt-[5rem]
}
.form {
  @apply  flex border-2 h-fit w-fit pr-10 pl-10 pt-4 items-center rounded-2xl border-slate-700 mt-16 ml-16
}

.sect {
  @apply m-5 flex-col flex 
}

.img {
  @apply h-[200px]
}

.submit {
  @apply mb-0
}

label {
  @apply mb-2
}

img {
  @apply h-[200px]
}

.page {
  @apply flex border-2 border-slate-700 rounded-2xl p-5 justify-center items-center mt-9 lg:w-[50%] w-[80%]
}

.img-div {
  @apply flex flex-col  items-center
}

.imgName {
  @apply text-pink-500 italic
}

span {
  @apply text-[#d000ff] italic 
}

h1 {
  @apply text-xl
}
p {
  @apply text-lg
}
.buy-ticket {
  @apply flex w-full justify-between p-5 text-[#000]
}

.buy-ticket img {
  @apply h-[50px]
}

.ticket {
  @apply border-2 mr-5 flex flex-col items-center hover:animate-pulse cursor-pointer p-3 shadow-2xl bg-[#fff]
}

.info {
  @apply flex mb-10
}


